body {
  margin: 20px;
  background-color: f1f1f1;
}
svg {
  width: 25px;
  height: 25px;
}

.inline-block {
  display: inline-block;
}

.bar {
  width: 500px;
  height: 24px;
  background-color: #d0d0d0;
  position: relative;
  display: inline-block;
}
.bar span {
  width: 1px;
  height: 20px;
  background-color: red;
  position: absolute;
  display: inline-block;
  left: 150px;
  top: 2px;
}
